body {
    font-family: Garamond;
}




.brd {
background-color:skyblue;
font-family:Garamond;

}

.logo {
  font-family:Garamond;




}

.vi {
  text-align:center;
  font-family:Garamond;
  font-size:large;

}




